<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conERPL360"
            connectionString="Data Source=LAPTOP;Initial Catalog=ERPL360;Persist Security Info=True;User ID=sa;Password=master#$2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <appSettings>
   <add key="conjunto" value="CINCOH,DEMO,CONTINETAL,PRINTCENTER,ICECOPRT" />
 </appSettings>
</configuration>